---
layout: main
header: proj<wbr>ects
---

{% include navlinks.html target="projects" %}

{% for project in site.data.projects %}
  {% assign slug = project.name | slugify %}
  <hr>
  <h2 class="project-row" onclick="do_toggle('#{{slug}}-details');">
    {{project.name}} <span>+</span>
  </h2>
  <div id="{{slug}}-details" class="display-none">
    {% for paragraph in project.details %}
    <p>{{paragraph}}</p>
    {% endfor %}
  </div>
{% endfor %}

<hr class="simple">
<div class="pb-3 fancy"></div>
