---
layout: main
header: recs
---


{% include navlinks.html target="recs" %}

<hr>

<p>
This is a collection of books I've read and enjoyed. I've tried writing
reviews, but I think I'm not critical enough: all I really want to do is share
the good stuff, so here's some of that.
</p>
<p>todo: finish writing descriptions + xrefs</p>


{% assign reclist = site.data.recs.list | sort: 'title' %}

{% for rec in reclist %}
{% assign slug = rec.title | slugify %}
{% if rec.desc %}
<h6 class="project-row" onclick="do_toggle('.{{slug}}-details');">
  {{ rec.title | downcase }}
  <span>+</span>
</h6>
<div class="{{slug}}-details display-none">
  {% for paragraph in rec.desc %} <p>{{paragraph}}</p> {% endfor %}
  {% if rec.title != reclist.last.title %} <hr> {% endif %}
</div>
{% else %}
<h6>{{ rec.title | downcase }}</h6>
{% endif %}
{% endfor %}

<hr class="simple">
<div class="pb-3 fancy"></div>
