---
---


$small: 840px


=keyframes($name)
  @-webkit-keyframes #{$name}
    @content
  @-moz-keyframes #{$name}
    @content
  @-ms-keyframes #{$name}
    @content
  @keyframes #{$name}
    @content


+keyframes(fade-opacity-in)
  0%
    opacity: 0.0
  15%
    opacity: 0.0
  100%
    opacity: 1


=simplebody
  animation-duration: 4.2s
  animation-name: fade-opacity-in

  .fancy
    display: none
  .simple
    display: block


=fancybody
  background-color: black
  .fancy
    display: block
  .simple
    display: none


body
  border: 0
  margin: 0


  @media (max-width: $small)
    +simplebody

  @media (min-width: $small)
    &.nofancy
      +simplebody
    &:not(.nofancy)
      +fancybody


p
  font-size: 17px
  font-family: "Libre Baskerville", sans-serif


canvas
  display: block
  position: fixed
  top: 0
  left: 0


#glcanvas
  width: 100vw
  height: 100vh


#intro-card
  position: absolute
  left: 0
  right: 0
  top: 34%
  margin: auto
  width: 170px


#greeting
  position: relative
  z-index: 10
  margin-top: 127px
  font-size: 27px
  text-align: center
  text-shadow: -1px -1px 0 #000
  color: #FFFFFF
  display: none


#enter
  position: relative
  z-index: 10
  margin-top: 240px
  font-size: 27px
  text-align: center
  text-shadow: -1px -1px 0 #000
  text-shadow: +1px +1px 0 #000
  color: #FFFFFF
  display: none

  &:hover
    text-decoration: underline
