---
---


@import "friendly.css"


$small: 840px


=keyframes($name)
  @-webkit-keyframes #{$name}
    @content
  @-moz-keyframes #{$name}
    @content
  @-ms-keyframes #{$name}
    @content
  @keyframes #{$name}
    @content


+keyframes(fade-opacity-in)
  0%
    opacity: 0.0
  15%
    opacity: 0.0
  100%
    opacity: 1


=simplebody
  animation-duration: 0.7s
  animation-name: fade-opacity-in

  .fancy
    display: none
  .simple
    display: block


=fancybody
  background-color: black

  .fancy
    display: block
  .simple
    display: none

  .contentbox
    z-index: 10
    background-color: #000000
    opacity: 0.90
    display: none
    margin-bottom: 100vh

  a
    color: #BBBBBB
    &:hover
      color: #343434

  .blogpost
    margin: 6px
    padding: 14px
    background-color: #E0E0E0
    padding-top: 15px
    padding-bottom: 15px
    box-shadow: 0 0 7px 7px #E0E0E0
    -webkit-box-shadow: 0 0 7px 7px #E0E0E0

    a
      color: #515151

      hr
        border-top: 1px solid #A0A0A0

      & > p > a
        text-decoration: underline



body
  border: 0
  margin: 0

  overflow-y: scroll

  &.nojs
    .withoutjs
      display: block

  &:not(.nojs)
    .withoutjs
      display: none

  @media (max-width: $small)
    +simplebody

    #navlinks
      text-align: center
    #fancy-toggler
      display: none

  @media (min-width: $small)
    &.nofancy
      +simplebody
    &:not(.nofancy)
      +fancybody


.gif-preview
  position: absolute
  margin-left: auto
  margin-right: auto
  left: 0
  right: 0

  &:hover
    opacity: 0


h2 a
  color: #AAAAAA


.blogpost
  color: #171717

  table
    margin-left: auto
    margin-right: auto
    margin-bottom: 1rem

    th, td
      padding: 10px
      border: 1px solid black


.breakword
  word-wrap: break-word


img
  vertical-align: middle
  border-style: none


.img-center
  margin: 0 auto
  display: block


.img-fluid
  max-width: 100%
  height: auto


hr
  display: block
  height: 1px
  border: 0
  border-top: 1px solid #ccc
  margin: 1em 0
  padding: 0


canvas
  display: block
  position: fixed
  top: 0
  left: 0


#tilecanvas
  width: 100vw
  height: 100vh


#glcanvas
  width: 320px
  height: 320px


p
  font-size: 16px
  font-family: Helvetica,sans-serif


.contentbox
  width: 100%
  padding-bottom: 1px
  padding-right: 15px
  padding-left: 15px
  margin-right: auto
  margin-left: auto
  margin-bottom: 17vh
  max-width: 840px


.contents
  color: #858585
  font-family: 'Roboto Mono', monospace


blockquote
  border-left: 3px solid #858585
  margin: 14px
  padding: 0 0 0 8px


.pos-relative
  position: relative


.overflow-hidden
  overflow: hidden


#greeting
  position: relative
  z-index: 10
  margin-top: 127px
  font-size: 27px
  text-align: center
  text-shadow: -1px -1px 0 #000
  color: #FFFFFF
  display: none


#enter
  position: relative
  z-index: 10
  margin-top: 240px
  font-size: 27px
  text-align: center
  text-shadow: -1px -1px 0 #000
  text-shadow: +1px +1px 0 #000
  color: #FFFFFF
  display: none

  &:hover
    text-decoration: underline


.display-none
  display: none


.project-row
  position: relative
  margin-bottom: 0px
  padding-bottom: 8px

  &:hover
    text-decoration: underline

  span
    position: absolute
    right: 0px


svg
  display: block
  margin: auto
  margin-top: 1rem
  margin-bottom: 1rem
