body {
    border: 0;
    margin: 0;
    background-color: black;
}


a {
    color: #BBBBBB;
}

.blogpost a {
    color: #515151
}


.blogpost > p > a {
    text-decoration: underline;
}


a:hover {
    color: #343434;
}


canvas {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
}

.bgcanvas {
    width: 100vw;
    height: 100vh;
}

#drawcanvas {
    width: 320px;
    height: 320px;
}

p {
    font-size: 17px;
    font-family: "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.bloghr {
    border-top: 1px solid #A0A0A0;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

#greeting {
    position: relative;
    z-index: 10;
    margin-top: 127px;
    font-size: 27px;
    text-align: center;
    text-shadow: -1px -1px 0 #000;
    color: #FFFFFF;
    display: none;
}

#enter {
    position: relative;
    z-index: 10;
    margin-top: 240px;
    font-size: 27px;
    text-align: center;
    text-shadow: -1px -1px 0 #000;
    text-shadow: +1px +1px 0 #000;
    color: #FFFFFF;
    display: none;
}

#enter:hover {
    text-decoration: underline;
}

.contentbox {
    z-index: 10;
    background-color: #000000;
    opacity: 0.90;
    display: none;
    padding-bottom: 1px;
    margin-bottom: 100vh;
}

.contents {
    color: #858585;
    font-family: Monospace;
}


blockquote {
    border-left:3px solid #858585;
    margin:14px;
    padding:0 0 0 8px;
    font-style:italic;
}


.blogpost {
    background-color: #E0E0E0;
    padding-top: 15px;
    padding-bottom: 15px;
    box-shadow: 0 0 7px 7px #E0E0E0;
    -webkit-box-shadow: 0 0 7px 7px #E0E0E0;
    margin: 6px;
    padding: 14px;
    color: #171717;
}
