---
layout: main
---


<div class="contentbox contents">
    <h1 class="display-1 breakword">sohl<wbr>il<wbr>oq<wbr>uies</h1>
    <hr>
    {% include navlinks.html %}
    <hr>

    <h1 class="mb-0">{{ page.title }}</h1>
    <small>{{ page.date | date: "%-d %B %Y" }}</small>
    {% if page.tags.size > 0 %}
    <br><small>{% include taglist.html %}</small>
    {% endif %}

    {% if page.mathjax %}
    <div class="alert alert-warning withoutjs my-3" role="alert">
        Hey there! It looks like you have Javascript disabled. Good call --
        that's my default setting too. I just wanted to let you know that this
        specific blog post has embedded Mathjax equations which won't show up
        unless you enable Javascript from cdnjs.cloudflare.com on this page. If
        you'd rather not do that, you can still read the raw LaTeX via View
        Source or on Github.
    </div>
    {% endif %}

    <div class="blogpost my-4">
        {{ content }}
    </div>
</div>
